:root{
    --light-green: #a8c64e;
    --dark-green: #3c412c;
}

*{
    font-family: 'Pixelify Sans';
}

body{
    background-color: var(--light-green);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    background-color: #a8c64e;
    color: #3c412c;
    border: 4px solid #3c412c;
    width: 128px;
    margin-top: 20px;
    height: 64px;
    padding: 0px;
    font-size: 32px;
    transition: 400ms;
}
button:hover{
    background-color: #3c412c;
    color: #a8c64e;
    border-color: #a8c64e;
    transition: 400ms;
}
.grid-square{
    background-color: #a8c64e;
    width: 12px;
    aspect-ratio: 1/1;
    transition: 10s;
}
.grid-square:hover{
    background-color: #3c412c;
    transition: 20ms;
}
.grid-container{
    display: flex;
    width: 40%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    margin: 20px;
    border: 4px solid #3c412c;
}
@media screen and (max-width: 1200px) {
    .grid-container{width: 60%;}
}